[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
[submodule "marisa"]
	path = marisa
	url = https://github.com/rime/marisa-trie
[submodule "json-c"]
	path = json-c
	url = https://github.com/json-c/json-c
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "libthai"]
	path = libthai
	url = https://github.com/tlwg/libthai
[submodule "libxkbcommon"]
	path = libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon
[submodule "iso-codes"]
	path = iso-codes
	url = https://salsa.debian.org/iso-codes-team/iso-codes
[submodule "libexpat"]
	path = libexpat
	url = https://github.com/libexpat/libexpat
[submodule "xkeyboard-config"]
	path = xkeyboard-config
	url = https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/google/leveldb
[submodule "opencc"]
	path = opencc
	url = git@github.com:BYVoid/OpenCC
[submodule "glog"]
	path = glog
	url = https://github.com/google/glog
[submodule "librime"]
	path = librime
	url = https://github.com/rime/librime
